body {
    background-color: #303844;
    margin: 0 auto;
}
section {
    width: 100%;
    max-width: 700px;
    padding: 50px;
}
header, main, footer {
    font-family:'Muli', sans-serif;
    color: #add8e6;
}
footer {
    text-align: center;
}
h1 {
    font-size: 4em;
}
a {
     color: green;
}
p{
    font-size: 1.5em;
}
.gfd {
    font-size: 2em;
    color: white;
    text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
  }
  .vol {
    margin: 0 auto;
    object-fit: none;
    object-position: 0 60%;
    height: 216px;
    width: 1920px;
    /*max-width: 850px;*/
  }

  nav ul.drop {
    margin: 0 auto;
    font-family:'Muli', sans-serif;
    font-size: 1.3em;
    text-align: center;
} 

ul.drop a {
    text-decoration: none;
    color: #fff;
}
ul.drop, ul.drop li {
    list-style: none;
    color: #fff;
    background-color: #191d24;
}
ul.drop li {
    float: left;
    padding: 10px;
    line-height: 1.3em;
    width: 18%;
    border: 3px #191d24;
}
ul.drop ul {
  /* display: none;*/
   top: 1.8em;
   display: block;
   position: absolute;
   margin-left: -9999px;
}
ul.drop li li {
    width: 100%;
}
ul.drop li ul li {
    background-color: #5b6a81;
}

ul.drop li ul li:hover {
    position: relative;
    background-color: #191d24;
}
ul.drop li:hover {
    position: relative;
    background-color: #5b6a81;
}
ul.drop li:hover > ul {
    margin: 8px 25px 0 -25px;
}
ul.drop ul ul {
    top: 0;
    left: 105%;
    width: 100%;
}

/*Responsiveness*/

@media (max-width: 750px) {
    .vol {
        max-width: 850px;
    }
}
@media (min-width: 800px){
    section{ padding: 100px;}
    footer{ width: 32%;}
}
